.search-form {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.search-form > input {
  padding: 6px;
  margin-right: 20px;

  border-color: black;
  border-radius: 3px;
}

.search-form > button,
.load-more {
  background-color: teal;
  font-size: medium;
  font-weight: 500;
  border-radius: 3px;
  padding: 8px;
}

.search-form > button:hover {
  color: white;
}

.load-more {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load-more.is-hidden {
  display: none;
}
